<h1 style="text-align: center">My Bookings</h1>

<% if @slot_bookings.present? %>
  <table class="table table-hover table-light" style="text-align: center" >
    <thead class="table-dark">
    <tr>
      <th>Vehicle number</th>
      <th>Entered Slot</th>
      <th>Entry Date</th>
      <th>Entry Time</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @slot_bookings.each do |slot_usage| %>
      <tr>
        <td><%= slot_usage.vehicle_registration_number %></td>
        <td><%= slot_usage.slot.number %></td>
        <td><%= slot_usage.entry_time.to_datetime.strftime('%B %d, %Y') %></td>
        <td><%= slot_usage.entry_time.to_datetime.strftime('%l:%M %p') %></td>
        <td><%= link_to "Show details", slot_booking_path(slot_usage), class: "btn btn-info btn-sm" %></td>
        <%if !slot_usage.canceled %>
          <td><%= button_to "Cancel", cancel_slot_booking_path(slot_usage), method: :patch, data: { confirm: "Are you sure you want to cancel this booking?" }, class: "btn btn-danger" %></td>
        <%else %>
          <td style="text-align: center" class="badge text-bg-secondary">canceled</td>
        <%end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No bookings yet.</p>
<% end %>

<br>
<%= link_to "Back", slot_bookings_path, class: "btn btn-secondary" %>

<br>
<div class="pagination justify-content-center">
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>