<h1 style="text-align: center">Used Slots</h1>

<%= form_tag(used_slots_slot_bookings_path, method: :get) do %>
  <div class="field">
    <%= label_tag 'date', 'Select a Date:' %>
    <%= date_field_tag 'date', params[:date], class: "form-control-sm" %>
  </div>
  <br>
  <%= submit_tag 'Show Slots', class: "btn btn-primary btn-sm" %>
<% end %>
<br>
<% if @slot_bookings.present? %>
  <h2>Slots used on <%= @date %>:</h2>
  <table class="table table-hover table-light" style="text-align: center" >
    <thead class="table-dark">
    <tr>
      <th>Slot Number</th>
      <th>Vehicle Registration Number</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% @slot_bookings.each do |slot_usage| %>
      <tr>
        <td><%= slot_usage.slot.number %></td>
        <td><%= slot_usage.vehicle_registration_number %></td>
        <%if slot_usage.canceled? %>
          <td class="badge text-bg-info">Canceled</td>
        <%else %>
          <td class="badge text-bg-info">In use</td>
        <%end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No slots used on the selected date.</p>
<% end %>
<br>
<%= link_to "Back", slot_bookings_path, class: "btn btn-secondary" %>

<br>
<div class="pagination justify-content-center">
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>
